:root {
  --primary-color: #2F4F4F; /* Dark Slate Gray */
  --secondary-color: #8B4513; /* Saddle Brown (Rust Red) */
  --background-color: #FFFFFF; /* White */
  --text-color: #000000; /* Black */
  --accent-color: #4682B4; /* Steel Blue */
}

[data-theme="dark"] {
  --primary-color: #2F4F4F; /* Dark Slate Gray */
  --secondary-color: #8B4513; /* Saddle Brown (Rust Red) */
  --background-color: #000000; /* Black */
  --text-color: #FFFFFF; /* White */
  --accent-color: #4682B4; /* Steel Blue */
}


.App {
  text-align: center;
}

.element {
  padding: 100px 20px;
  padding-top: 32px ;
  min-height: 100vh;
  border-bottom: 1px solid #ccc;
}

.home {
  background: url('assets/junk-yard-cars-yard-junk.jpg') no-repeat center center/cover;
  filter: grayscale(60%);
}


