.App {
  text-align: center;
}


.element {
  padding: 100px 20px;
  min-height: 100vh;
  border-bottom: 1px solid #ccc;
}


.home{
  background: url('assets/junk-yard-cars-yard-junk.jpg') no-repeat center center/cover;
  filter: grayscale(60%);

}
