.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, var(--secondary-color), rgba(32, 156, 238, 0.8));
}

.center-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  width: 250px;
}

.company-name {
  font-size: 4em;
  color: white;
}

.company-description {
  font-size: 2em;
  color: white;
}