.team-member-card {
    width: 256px;
    height: 400px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 50px;
    transition: transform 0.3s ease-in-out;
    background-color: var(--secondary-color);
    transition: background-color var(--transitiontime);

}



.team-member-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 30px var(--accent-color)
}

.team-member-image {
    width: 146px;
    height: 146px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: -32px; 
}

.team-member-name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: -16px; 
    color : white;
}

.team-member-title {
    font-size: 16px;
    color: white;
    margin-bottom: 10px; 
}

.team-member-message {
    font-size: 16px;
    color: #555;
    text-align: center;
    color: white
}

