/* Styles for the project container */
.Project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
}

/* Styles for the project title */
.Project-container h1 {
    width: 100%;
    margin-bottom: 20px; /* Add some space between the title and the cards */
}

/* Styles for the project cards */
.project-card {
    width: 350px;
    padding: 30px;
    margin: 20px;
    box-sizing: border-box;
}

/* Styles for the project images */
.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Styles for the technology logos */
.technology-logos img {
    height: 30px;
    margin-right: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .Project-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: auto;
        margin: 20px 0; /* Only vertical margin on smaller screens */
    }
}